<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs480.project.contractout"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:name="com.cs480.project.contractout.MyApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cs480.project.contractout.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cs480.project.contractout.InfoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.INFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cs480.project.contractout.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cs480.project.contractout.LogInActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cs480.project.contractout.RegisterActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.REGISTER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cs480.project.contractout.ChangePasswordActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.CHANGEPASSWORD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cs480.project.contractout.AccountInfoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ACCOUNTINFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cs480.project.contractout.CreateJobActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.CREATEJOB" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cs480.project.contractout.ReviewContractsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.REVIEWCONTRACTS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cs480.project.contractout.PendingJobsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.PENDINGJOBS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cs480.project.contractout.CompletedJobsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.COMPLETEDJOBS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cs480.project.contractout.RateContractorActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.RATECONTRACTOR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cs480.project.contractout.ContractOffersActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.CONTRACTOFFERS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cs480.project.contractout.InspectContractorActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.INSPECTCONTRACTOR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
